<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}Navigo 3000{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ asset('bundles/app/css/skel-noscript.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/style-desktop.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/datatable.css') }}" />
    <script src="{{ asset('bundles/app/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/app/js/datatable.js') }}"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body class="homepage">
    <div id="header-wrapper">
        <div id="header" class="container">
            <div id="logo"><h1><a href="{{ path('homepage') }}">Navigo 3000</a></h1></div>
            <nav id="nav">
                <ul>
                    {% if is_granted("ROLE_USER") %}
                        <li class="{% block dashboardActive %}{% endblock %}"><a href="{{ path('dashboard') }}">Dashboard</a></li>
                        {% if is_granted("ROLE_ADMIN") %}
                        <li class="{% block usersActive %}{% endblock %}"><a href="{{ path('users', {"page": 0}) }}">Users</a></li>
                        <li class="{% block cardsActive %}{% endblock %}"><a href="{{ path('cards', {"page": 0}) }}">Cards</a></li>
                        {% else %}
                            <li class="{% block profileActive %}{% endblock %}"><a href="{{ path('profile') }}">Profile</a></li>
                        {% endif %}
                        <li><a href="{{ path('logout') }}">Logout</a></li>
                    {% else %}
                        <li class="{% block homepageActive %}{% endblock %}"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="{% block connexionActive %}{% endblock %}"><a href="{{ path('login') }}">Login</a></li>
                        <li class="{% block inscriptionActive %}{% endblock %}"><a href="{{ path('inscription') }}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% block header %}{% endblock %}
    </div>
    {% for message in app.session.flashbag.get('info') %}
        <div class="flashbag flashbag-info">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
        <div class="flashbag flashbag-error">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <div id="copyright" class="container">
        Developed by: <a href="http://loscil.fr/">Medrupaloscil</a>
    </div>

</body>
