{% extends 'base.html.twig' %}

{% block body %}
    <div id="featured-wrapper" class="test-card">
        <div class="container">
            <form method="post" action="{{ path("testCard") }}">
                <input type="text" placeholder="Card Id" name="card-id">
                <input type="submit">
            </form>
        </div>
        {% if result == "success" %}
            {% if card.getValid()|date("d-m-Y") < "now"|date("d-m-Y") %}
                <div class="info alert">
                    Your card n° {{ card.getCardId() }} is not valid since {{ card.getValid()|date("d-m-Y") }}.
                </div>
            {% else %}
                <div class="info success">
                    Your card n° {{ card.getCardId() }} is valid untill {{ card.getValid()|date("d-m-Y") }}.
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
