{% extends 'base.html.twig' %}

{% block dashboardActive %}current_page_item{% endblock %}

{% block body %}

    <div class="container">
        {% if is_granted("ROLE_ADMIN") %}
            <div id="featured-wrapper" class="test-card">
                <div class="container">
                    <form method="post" action="{{ path("dashboard") }}">
                        <input type="text" placeholder="Card Id" name="card-id">
                        <input type="submit">
                    </form>
                </div>
                {% if card is not null %}
                    {% if card.getValid()|date("d-m-Y") < "now"|date("d-m-Y") %}
                        <div class="info alert">
                            The card n° {{ card.getCardId() }} is not valid since {{ card.getValid()|date("d-m-Y") }}.
                        </div>
                    {% else %}
                        <div class="info success">
                            The card n° {{ card.getCardId() }} is valid untill {{ card.getValid()|date("d-m-Y") }}.
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% else %}
        {% if app.user.getCard() is not null %}
        <div class="split navigo">
            <div class="card">
                <div class="info">
                    <img src="{{ asset('bundles/app/images/avatar.jpg') }}" alt="avatar">
                    <p>{{ app.user.getFirstname() }} {{ app.user.getLastname() }}</p>
                    <p>{{ app.user.getCard().getCardId() }}</p>
                </div>
                <img class="background" src="{{ asset('bundles/app/images/pass-navigo.png') }}" alt="navigo">
            </div>
        </div>
        <div class="split">
            <p>Avalaible untill: </p>
            <p class="valability">20/12/2016</p>
            <form class="paiement">
                <h3>Reload yout card:</h3>
                <select>
                    <option value="day">1 day (10€)</option>
                    <option value="week">1 week (24€)</option>
                    <option value="month">1 month (70€)</option>
                    <option value="year">1 year (341€)</option>
                </select>
                <button>Pay</button>
            </form>
        </div>
        {% else %}
            <p>You don't have any card linked to your account.</p>
        {% endif %}
        {% endif %}
    </div>

{% endblock %}
